body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
}
  

.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #4A5568 #EDF2F7; /* For Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* For Chrome, Safari, and Edge */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #EDF2F7; /* Track background */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4A5568; /* Thumb color */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #EDF2F7; /* Space around thumb */
}
.card {
  margin: 0 auto;
  padding: 2rem;
  text-align: justify;
  padding: 2em;
}

